# Xcode
build/
DerivedData/
*.xcuserdata
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Distribution
dist/

# Archives
*.xcarchive
*.profraw
*.profdata

# CocoaPods
Pods/

# Swift Package Manager
.build/
Package.resolved

# Carthage
Carthage/Build/

# IDE
*.swp
*.swo
*~
.vscode/
.idea/
.research/
